<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="abef66">  <td>20/09/26 15:46:31</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HomePage.initialize()[pri:0, instance:testPages.HomePage@1d9b7cce]">&gt;&gt;initialize</td> 
<td>&nbsp;</td>  <td>main@489349054</td>   <td></td> </tr>
<tr bgcolor="abef66">  <td>20/09/26 15:46:39</td>   <td>8468</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePage.basePageNavigation()[pri:0, instance:testPages.HomePage@1d9b7cce]">basePageNavigation</td> 
  <td>main@489349054</td>   <td></td> </tr>
<tr bgcolor="abef66">  <td>20/09/26 15:46:52</td>   <td>21671</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HomePage.teardown()[pri:0, instance:testPages.HomePage@1d9b7cce]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@489349054</td>   <td></td> </tr>
<tr bgcolor="abef66">  <td>20/09/26 15:46:53</td>   <td>21768</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HomePage.initialize()[pri:0, instance:testPages.HomePage@1d9b7cce]">&gt;&gt;initialize</td> 
<td>&nbsp;</td>  <td>main@489349054</td>   <td></td> </tr>
<tr bgcolor="abef66">  <td>20/09/26 15:47:00</td>   <td>29219</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePage.basePageNavigationFailed()[pri:0, instance:testPages.HomePage@1d9b7cce]">basePageNavigationFailed</td> 
  <td>main@489349054</td>   <td></td> </tr>
<tr bgcolor="abef66">  <td>20/09/26 15:47:01</td>   <td>29755</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HomePage.teardown()[pri:0, instance:testPages.HomePage@1d9b7cce]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@489349054</td>   <td></td> </tr>
</table>
