<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b0fd6f">  <td>20/09/26 15:47:50</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePage.basePageNavigation()[pri:0, instance:testPages.HomePage@28975c28]">basePageNavigation</td> 
  <td>main@843512726</td>   <td></td> </tr>
<tr bgcolor="b0fd6f">  <td>20/09/26 15:48:11</td>   <td>20950</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePage.basePageNavigationFailed()[pri:0, instance:testPages.HomePage@28975c28]">basePageNavigationFailed</td> 
  <td>main@843512726</td>   <td></td> </tr>
<tr bgcolor="b0fd6f">  <td>20/09/26 15:47:42</td>   <td>-8389</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HomePage.initialize()[pri:0, instance:testPages.HomePage@28975c28]">&gt;&gt;initialize</td> 
<td>&nbsp;</td>  <td>main@843512726</td>   <td></td> </tr>
<tr bgcolor="b0fd6f">  <td>20/09/26 15:48:04</td>   <td>13091</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HomePage.initialize()[pri:0, instance:testPages.HomePage@28975c28]">&gt;&gt;initialize</td> 
<td>&nbsp;</td>  <td>main@843512726</td>   <td></td> </tr>
<tr bgcolor="b0fd6f">  <td>20/09/26 15:48:03</td>   <td>12962</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HomePage.teardown()[pri:0, instance:testPages.HomePage@28975c28]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@843512726</td>   <td></td> </tr>
<tr bgcolor="b0fd6f">  <td>20/09/26 15:48:12</td>   <td>21952</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HomePage.teardown()[pri:0, instance:testPages.HomePage@28975c28]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@843512726</td>   <td></td> </tr>
</table>
